@import "~styles/variables";

:host {
  .banner {
    border-top: var(--banner-border-top);
    background-color: var(--banner-background-color);
    color: var(--banner-color);
    padding: 5px 0px;
    .container {
      display: flex;
      @media (max-width: 767.95px) {
        justify-content: center;
        align-content: center;
      }
    }
    @media (min-width: 576px) {
      padding: 15px 0px;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}