<scholars-pagination collection="users" [page]="page" (pageChange)="onPageChange($event)">
  <h3 class="text-primary">{{ 'ADMIN.USERS.TITLE' | translate }}</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'ADMIN.USERS.NAME' | translate }}</th>
        <th scope="col">{{ 'ADMIN.USERS.EMAIL' | translate }}</th>
        <th scope="col">{{ 'ADMIN.USERS.ROLE' | translate }}</th>
        <th scope="col">{{ 'ADMIN.USERS.ACTIVE' | translate }}</th>
        <th scope="col">{{ 'ADMIN.USERS.ENABLED' | translate }}</th>
        <th scope="col">{{ 'ADMIN.USERS.EDIT' | translate }}</th>
      </tr>
    </thead>
    <tbody *ngIf="users | async; let users">
      <tr *ngFor="let user of users">
        <td scope="row">{{user.firstName}} {{user.lastName}}</td>
        <td scope="row">{{user.email}}</td>
        <td scope="row">{{getRoleValue(user.role)}}</td>
        <td scope="row">{{user.active}}</td>
        <td scope="row">{{user.enabled}}</td>
        <td scope="row" class="text-center" (click)="openUserEditDialog(user)"><i class="fa fa-edit"></i></td>
      </tr>
    </tbody>
  </table>
</scholars-pagination>