<scholars-dialog [dialog]="dialog">
  <div [formGroup]="dialog.form" class="justify-self-center">
    <div class="form-group">
      <div class="input-group-lg">
        <input type="text" class="form-control" name="firstName" placeholder="{{ 'SHARED.DIALOG.REGISTRATION.FIRST_NAME' | translate }}" formControlName="firstName" [readonly]="isComplete()" [autofocus]="isSubmit()" [ngClass]="{'is-valid': isSubmit() && isValid('firstName'), 'is-invalid': isInvalid('firstName')}" />
        <div *ngIf="isInvalid('firstName')" class="invalid-feedback">{{getErrorMessage('firstName') | async}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group-lg">
        <input type="text" class="form-control" name="lastName" placeholder="{{ 'SHARED.DIALOG.REGISTRATION.LAST_NAME' | translate }}" formControlName="lastName" [readonly]="isComplete()" [ngClass]="{'is-valid': isSubmit() && isValid('lastName'), 'is-invalid': isInvalid('lastName')}" />
        <div *ngIf="isInvalid('lastName')" class="invalid-feedback">{{getErrorMessage('lastName') | async}}</div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group-lg">
        <input type="text" class="form-control" name="email" placeholder="{{ 'SHARED.DIALOG.REGISTRATION.EMAIL' | translate }}" formControlName="email" autocomplete="username" [readonly]="isComplete()" [ngClass]="{'is-valid': isSubmit() && isValid('email'), 'is-invalid': isInvalid('email')}" />
        <div *ngIf="isInvalid('email')" class="invalid-feedback">{{getErrorMessage('email') | async}}</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'d-none': isSubmit()}">
      <div class="input-group-lg">
        <input type="password" class="form-control" name="password" placeholder="{{ 'SHARED.DIALOG.REGISTRATION.PASSWORD' | translate }}" formControlName="password" autofocus autocomplete="new-password" [ngClass]="{'is-valid': isValid('password'), 'is-invalid': isInvalid('password')}" />
        <div *ngIf="isInvalid('password')" class="invalid-feedback">{{getErrorMessage('password') | async}}</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'d-none': isSubmit()}">
      <div class="input-group-lg">
        <input type="password" class="form-control" name="confirm" placeholder="{{ 'SHARED.DIALOG.REGISTRATION.CONFIRM' | translate }}" formControlName="confirm" autocomplete="new-password" [ngClass]="{'is-valid': isValid('confirm'), 'is-invalid': isInvalid('confirm')}" />
        <div *ngIf="isInvalid('confirm')" class="invalid-feedback">{{getErrorMessage('confirm') | async}}</div>
      </div>
    </div>
  </div>
</scholars-dialog>