<div class="search">
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <scholars-search-box [live]="true" [view]="discoveryView | async"></scholars-search-box>
      </div>
    </div>
  </div>
</div>
<scholars-sidebar>
  <div class="container mt-2" *ngIf="discoveryView | async; let discoveryView">
    <h4 class="text-primary">
      <span class="mr-2">Search results for:</span>
      <span>{{query | async}}</span>
    </h4>
    <div class="applied-filters mt-2" *ngIf="filters | async; let filters">
      <span class="badge badge-light p-2 mr-2 mb-2" *ngFor="let filter of filters">
        <span *ngIf="showFilter(discoveryView, filter)">
          <span class="mr-1">{{filter.field}}:</span>
          <span class="mr-2">{{filter.value}}</span>
          <a class="fa fa-close" [routerLink]="getDiscoveryRouteLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, page | async, query | async, filters, filter)"></a>
        </span>
      </span>
    </div>
    <ul role="tablist" class="list-unstyled mt-3 nav" *ngIf="discoveryViews | async; let discoveryViews" [ngClass]="{ 'nav-tabs nav-fill': showTabs(windowDimensions | async), 'nav-pills flex-column': !showTabs(windowDimensions | async) }">
      <li class="nav-item" *ngFor="let discoveryView of discoveryViews">
        <a class="nav-link" [routerLink]="getDiscoveryRouteLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, page | async, query | async)" [class.active]="isActive(discoveryView, url | async)">{{ discoveryView.name }}</a>
      </li>
    </ul>
    <scholars-pagination *ngIf="documents | async; let documents" [page]="page" [ngSwitch]="discoveryView.layout">
      <scholars-grid-view *ngSwitchCase="'GRID'" [view]="discoveryView" [resources]="documents"></scholars-grid-view>
      <scholars-list-view *ngSwitchCase="'LIST'" [view]="discoveryView" [resources]="documents"></scholars-list-view>
    </scholars-pagination>
  </div>
</scholars-sidebar>