<div class="search">
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <scholars-search-box [live]="true"></scholars-search-box>
      </div>
    </div>
  </div>
</div>
<scholars-sidebar>
  <div class="container mt-2" *ngIf="discoveryView | async; let discoveryView">
    <h3 class="text-primary">{{ discoveryView.name }}</h3>
    <p>{{query | async}}</p>
    <ul role="tablist" class="list-unstyled" *ngIf="discoveryViews | async; let discoveryViews" [ngClass]="{ 'nav flex-column nav-pills': false, 'nav nav-tabs nav-fill': true }">
      <li class="nav-item" *ngFor="let discoveryView of discoveryViews">
        <a class="nav-link" [routerLink]="getDiscoveryRouteLink(discoveryView)" [queryParams]="getDiscoveryQueryParams(discoveryView, query | async)" [class.active]="isActive(discoveryView, url | async)">{{ discoveryView.name }}</a>
      </li>
    </ul>
    <scholars-pagination *ngIf="documents | async; let documents" [page]="page" [ngSwitch]="discoveryView.layout">
      <scholars-grid-view *ngSwitchCase="'GRID'" [view]="discoveryView" [resources]="documents"></scholars-grid-view>
      <scholars-list-view *ngSwitchCase="'LIST'" [view]="discoveryView" [resources]="documents"></scholars-list-view>
    </scholars-pagination>
  </div>
</scholars-sidebar>