<div class="wrapper container">
  <nav class="sidebar {{menu.classes}}" *ngIf="menu | async; let menu">
    <div class="card bg-dark" *ngFor="let section of menu.sections; let sectionIndex = index">
      <div class="card-header text-white {{section.classes}}">
        <span class="header-title">{{section.title | async}}</span>
        <span class="header-collapsible fa" *ngIf="isSectionCollapsible(section.collapsible)" [ngClass]="{ 'fa-caret-right': isSectionCollapsed(section.collapsible), 'fa-caret-down': !isSectionCollapsed(section.collapsible) }" (click)="toggleSectionCollapse(sectionIndex)" aria-role="button" [attr.aria-label]="translateSectionCollapsibleButton(section.collapsible, section.title | async) | async"></span>
      </div>
      <div class="card-items" [ngbCollapse]="isSectionCollapsed(section.collapsible)">
        <ul class="list-group list-group-flush" *ngFor="let item of section.items">
          <li class="list-group-item list-group-item-action list-group-item-light link {{item.classes}}" aria-role="link" [attr.aria-label]="'SHARED.SIDEBAR.LINK.ARIA_LABEL' | translate">
            <label class="item-label" *ngIf="item.checkbox"><input class="item-checkbox" type="checkbox" [checked]="item.checked">{{item.label | async}}</label>
            <a [routerLink]="item.route" [queryParams]="item.queryParams" queryParamsHandling="merge">
              <span class="item-label" *ngIf="!item.checkbox">{{item.label | async}}</span>
              <span class="item-total" *ngIf="item.total"> ({{item.total}})</span>
            </a>
            <span class="item-fields" *ngFor="let field of item.fields">
              <label class="field-label {{field.label.classes}}" [for]="field.label.for">{{field.label.value}}</label>
              <input class="field-input {{field.input.classes}}" [id]="field.input.id" [name]="field.input.name" [type]="field.input.type" [placeholder]="field.input.placeholder" [value]="field.input.value" [checked]="field.input.checked">
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content container">
    <ng-content></ng-content>
  </div>
</div>