/* You can add global styles to this file, and also import other style files */

@import 'styles/variables';
@import 'styles/imports';
@import 'styles/mixins';
@import 'styles/overrides';

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  .search {
    background-image: linear-gradient(#dbdbdb, #fff);
  }
  .link {
    color: var(--link-color);
  }
  .link:hover {
    color: var(--link-color-hover);
    text-decoration: none;
    cursor: pointer;
  }
  a {
    color: var(--link-color);
  }
  a:hover {
    color: var(--link-color-hover);
  }
}