<scholars-pagination *ngIf="directoryViews | async; let directoryViews" [page]="page">
  <span class="h3 text-primary">{{ 'ADMIN.DIRECTORY_VIEWS.TITLE' | translate }}</span>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'ADMIN.DIRECTORY_VIEWS.NAME' | translate }}</th>
        <th scope="col">{{ 'ADMIN.DIRECTORY_VIEWS.COLLECTION' | translate }}</th>
        <th scope="col">{{ 'ADMIN.DIRECTORY_VIEWS.LAYOUT' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let directoryView of directoryViews">
        <td scope="row">{{directoryView.name}}</td>
        <td scope="row">{{directoryView.collection}}</td>
        <td scope="row">{{directoryView.layout}}</td>
      </tr>
    </tbody>
  </table>
</scholars-pagination>