@import "~styles/variables";

:host {
  .search-box {
    .search-label {
      line-height: 1em;
      padding-bottom: 6px;
      font-weight: bold;
      font-size: 14px;
      @media (min-width: 376px) { font-size: 16px; }
      @media (min-width: 576px) { font-size: 18px; }
      @media (min-width: 768px) { font-size: 20px; }
      @media (min-width: 992px) { font-size: 22px; }
      @media (min-width: 1200px) { font-size: 24px; }
    }
    .form-control {
      padding-left: 2.375rem;
      box-shadow: 1px 1px 0px 0px #bbb;
    }
    .form-control::placeholder {
      color: #999;
    }
    .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #999;
    }
    .invisible {
      height: 0px;
      width: 0px;
      padding: 0px;
      opacity: 0;      
    }
  }
}