<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="toggleNavigation()" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav navbar-nav d-sm-none">
      <button class="btn btn-outline-primary">{{ 'SHARED.NAVIGATION.EDIT_PROFILE' | translate }}</button>
    </div>
    <div [ngbCollapse]="isNavigationCollapsed | async" class="collapse navbar-collapse" [ngClass]="{'expand': !(isNavigationCollapsed | async)}" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.HOME' | translate }}</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="directoryViews | async; let directoryViews">
        <!-- NOTE: can use routerLinkActive here due to the changes in the query parameters -->
        <li class="nav-item" *ngFor="let directoryView of directoryViews" [class.active]="isActive(directoryView, url | async)">
          <a class="nav-link" [routerLink]="getDirectoryRouterLink(directoryView)" [queryParams]="getDirectoryQueryParams(directoryView)" (click)="toggleNavigation()">{{ directoryView.name }}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/about']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.ABOUT' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="nav navbar-nav d-none d-sm-block">
      <a class="btn btn-outline-primary" href="#">{{ 'SHARED.NAVIGATION.EDIT_PROFILE' | translate }}</a>
    </div>
  </div>
</nav>