<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="toggleNavigation()" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav navbar-nav d-sm-none">
      <button class="btn btn-outline-primary">{{ 'SHARED.NAVIGATION.EDIT_PROFILE' | translate }}</button>
    </div>
    <div [ngbCollapse]="isNavigationCollapsed | async" class="collapse navbar-collapse" [ngClass]="{'expand': !(isNavigationCollapsed | async)}" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.HOME' | translate }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/directory/people']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.PEOPLE' | translate }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/directory/organizations']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.ORGANIZATIONS' | translate }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/directory/research']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.RESEARCH' | translate }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/about']" (click)="toggleNavigation()">{{ 'SHARED.NAVIGATION.ABOUT' | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="nav navbar-nav d-none d-sm-block">
      <a class="btn btn-outline-primary" href="#">{{ 'SHARED.NAVIGATION.EDIT_PROFILE' | translate }}</a>
    </div>
  </div>
</nav>