:host {
  width: 100%;
  .index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
    grid-gap: 8px;
    text-align: center;
    .option:hover {
      cursor: pointer;
    }
  }
}