<scholars-pagination [page]="page">
  <span class="h3 text-primary">{{ 'ADMIN.DISPLAY_VIEWS.TITLE' | translate }}</span>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'ADMIN.DISPLAY_VIEWS.NAME' | translate }}</th>
        <th scope="col">{{ 'ADMIN.DISPLAY_VIEWS.COLLECTION' | translate }}</th>
      </tr>
    </thead>
    <tbody *ngIf="displayViews | async; let displayViews">
      <tr *ngFor="let displayView of displayViews">
        <td scope="row">{{displayView.name}}</td>
        <td scope="row">{{displayView.collection}}</td>
      </tr>
    </tbody>
  </table>
</scholars-pagination>