<div class="search">
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <scholars-search-box [view]="discoveryView | async"></scholars-search-box>
      </div>
    </div>
  </div>
</div>
<div class="document container" *ngIf="document | async; let document">
  <div *ngIf="displayView | async; let displayView" class="row">
    <div *ngIf="showAsideLeft(displayView)" class="d-none d-lg-block col-lg-3 p-0">
      <ng-container *ngTemplateOutlet="aside"></ng-container>
    </div>
    <div [ngClass]="{ 'col-lg-9': showAside(displayView), 'col-lg-12': !showAside(displayView) }">
      <div class="row mt-2">
        <div *ngIf="showLeftScan(displayView)" class="col-md-{{ getLeftScanColSize(displayView) }}" [innerHtml]="displayView.leftScanTemplateFunction(document) | safeHtml"></div>
        <div *ngIf="showMainContent(displayView)" class="col-md-{{ getMainContentColSize(displayView) }}" [innerHtml]="displayView.mainContentTemplateFunction(document) | safeHtml"></div>
        <div *ngIf="showAside(displayView)" class="d-lg-none ml-3 mr-3 w-100">
          <ng-container *ngTemplateOutlet="aside"></ng-container>
        </div>
        <div *ngIf="showRightScan(displayView)" class="col-md-{{ getRightScanColSize(displayView) }}" [innerHtml]="displayView.rightScanTemplateFunction(document) | safeHtml"></div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-12">
          <ul class="nav" [ngClass]="{ 'nav-tabs': !isMobile(windowDimensions | async), 'flex-column nav-pills': isMobile(windowDimensions | async) }">
            <li class="nav-item" *ngFor="let tab of getTabsToShow(displayView.tabs, document)">
              <a class="nav-link" [routerLink]="getDisplayViewTabRoute(displayView, tab)" [routerLinkActive]="['active']">{{tab.name}}</a>
            </li>
          </ul>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div *ngIf="showAsideRight(displayView)" class="d-none d-lg-block col-lg-3 p-0">
      <ng-container *ngTemplateOutlet="aside"></ng-container>
    </div>
    <ng-template #aside>
      <div [innerHtml]="displayView.asideTemplateFunction(document) | safeHtml"></div>
      <scholars-twitter *ngIf="document.twitter" [id]="document.twitter"></scholars-twitter>
      <scholars-youtube *ngIf="document.youtube" [url]="document.youtube"></scholars-youtube>
    </ng-template>
  </div>
</div>