<div class="search">
  <div class="container pt-2">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <scholars-search-box [live]="true" [view]="displayView | async"></scholars-search-box>
      </div>
    </div>
  </div>
</div>
<div class="document container" *ngIf="document | async; let document">

  <div class="row" *ngIf="displayView | async; let displayView">

    <div class="col-3" [innerHtml]="getLeftScan(displayView, document) | safeHtml"></div>
    <div class="col-6" [innerHtml]="getMainContent(displayView, document) | safeHtml"></div>
    <div class="col-3" [innerHtml]="getRightScan(displayView, document) | safeHtml"></div>

  </div>

</div>