<div class="pt-2 w-100" *ngIf="page | async; let page">
  <ng-content></ng-content>
  <div class="pagination-controls form-group mt-3" *ngIf="page.totalElements > page.size">
    <ul [class]="'pagination' + (size ? ' pagination-' + size : '')">
      <li class="page-item" [class.disabled]="previousDisabled(page.number)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.FIRST' | translate }}" class="page-link" [routerLink]="getRouterLink()" [queryParams]="getQueryParams(1, page.size)" queryParamsHandling="merge" [attr.tabindex]="(hasPrevious(page.number) ? null : '-1')">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="previousDisabled(page.number)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.PREVIOUS' | translate }}" class="page-link" [routerLink]="getRouterLink()" [queryParams]="getQueryParams(page.number - 1, page.size)" queryParamsHandling="merge" [attr.tabindex]="(hasPrevious(page.number) ? null : '-1')">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let pageNumber of getPages(page, windowDimensions | async)" class="page-item" [class.active]="pageNumber === page.number" [class.disabled]="isEllipsis(pageNumber)">
        <a *ngIf="isEllipsis(pageNumber)" class="page-link">
          <span>...</span>
        </a>
        <a *ngIf="!isEllipsis(pageNumber)" class="page-link" [routerLink]="getRouterLink()" [queryParams]="getQueryParams(pageNumber, page.size)" queryParamsHandling="merge">
          <span>{{ pageNumber }}</span>
          <span *ngIf="page.number === pageNumber" class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="nextDisabled(page.number, page.totalPages)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.NEXT' | translate }}" class="page-link" [routerLink]="getRouterLink()" [queryParams]="getQueryParams(page.number + 1, page.size)" queryParamsHandling="merge" [attr.tabindex]="(hasNext(page.number, page.totalPages) ? null : '-1')">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="nextDisabled(page.number, page.totalPages)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.LAST' | translate }}" class="page-link" [routerLink]="getRouterLink()" [queryParams]="getQueryParams(page.totalPages, page.size)" queryParamsHandling="merge" [attr.tabindex]="(hasNext(page.number, page.totalPages) ? null : '-1')">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
    <div class="page-control-divider"></div>
    <ul [class]="'pagination' + (size ? ' pagination-' + size : '')">
      <li *ngFor="let pageSizeOption of pageSizeOptions" class="page-item" [class.active]="pageSizeOption === page.size">
        <a *ngIf="!isEllipsis(pageNumber)" attr.aria-label="{{ 'SHARED.PAGINATION.PAGE_SIZE' | translate:{ size: pageSizeOption } }}" class="page-link" [routerLink]="getRouterLink()" [queryParams]="getQueryParams(1, pageSizeOption)" queryParamsHandling="merge">
          <span>{{ pageSizeOption }}</span>
          <span *ngIf="page.size === pageSizeOption" class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</div>