<div class="pagination">
  <div class="pt-2 w-100" *ngIf="page | async; let page">
    <ng-content></ng-content>
    <div class="form-group row mt-3" *ngIf="page.totalElements > page.size">
      <div class="col-sm-8">
        <ngb-pagination [(collectionSize)]="page.totalElements" [(page)]="page.number" [(pageSize)]="page.size" (pageChange)="onPageChange(page)" aria-label="Default pagination"></ngb-pagination>
      </div>
      <div class="col-sm-2 d-flex justify-content-end">
        <label for="paginationPageSize" class="col-form-label">{{ 'SHARED.PAGINATION.PAGE_SIZE' | translate }}</label>
      </div>
      <div class="col-sm-2">
        <select id="paginationPageSize" name="pageSize" class="form-control" [(ngModel)]="page.size" (ngModelChange)="onPageChange(page)">
          <option *ngFor="let size of pageSizeOptions" [ngValue]="size">{{size}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
