<div class="pt-2 w-100" *ngIf="page | async; let page">
  <ng-content></ng-content>
  <div class="pagination-controls form-group mt-3">
    <ul [class]="'pagination' + (size ? ' pagination-' + size : '')" *ngIf="page.totalElements > page.size">
      <li class="page-item" [class.disabled]="previousDisabled(page.number)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.FIRST' | translate }}" class="page-link" href="{{buildUrl(1, page.size)}}" [attr.tabindex]="(hasPrevious(page.number) ? null : '-1')">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="previousDisabled(page.number)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.PREVIOUS' | translate }}" class="page-link" href="{{buildUrl(page.number - 1, page.size)}}" [attr.tabindex]="(hasPrevious(page.number) ? null : '-1')">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let pageNumber of getPages(page, windowDimensions | async)" class="page-item" [class.active]="pageNumber === page.number" [class.disabled]="isEllipsis(pageNumber)">
        <a *ngIf="isEllipsis(pageNumber)" class="page-link">
          <span>...</span>
        </a>
        <a *ngIf="!isEllipsis(pageNumber)" class="page-link" href="{{buildUrl(pageNumber, page.size)}}" queryParamsHandling="merge">
          <span>{{ pageNumber }}</span>
          <span *ngIf="page.number === pageNumber" class="sr-only">(current)</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="nextDisabled(page.number, page.totalPages)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.NEXT' | translate }}" class="page-link" href="{{buildUrl(page.number + 1, page.size)}}" [attr.tabindex]="(hasNext(page.number, page.totalPages) ? null : '-1')">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="nextDisabled(page.number, page.totalPages)">
        <a attr.aria-label="{{ 'SHARED.PAGINATION.LAST' | translate }}" class="page-link" href="{{buildUrl(page.totalPages, page.size)}}" [attr.tabindex]="(hasNext(page.number, page.totalPages) ? null : '-1')">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
    </ul>
    <div class="page-control-divider"></div>
    <div [ngSwitch]="pageSizeOptionsType" *ngIf="page.totalElements > pageSizeOptions[0]">
      <ul [class]="'pagination' + (size ? ' pagination-' + size : '')" *ngSwitchCase="'list'">
        <li *ngFor="let pageSizeOption of pageSizeOptions" class="page-item" [class.active]="pageSizeOption === page.size">
          <a *ngIf="!isEllipsis(pageNumber)" attr.aria-label="{{ 'SHARED.PAGINATION.PAGE_SIZE' | translate:{ size: pageSizeOption } }}" class="page-link" href="{{buildUrl(1, pageSizeOption)}}">
            <span>{{ pageSizeOption }}</span>
            <span *ngIf="page.size === pageSizeOption" class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <div ngbDropdown class="d-inline-block" placement="bottom-right" *ngSwitchCase="'dropdown'">
        <button class="btn btn-outline-secondary" ngbDropdownToggle>{{page.size}}</button>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="btn" *ngFor="let pageSizeOption of pageSizeOptions" href="{{buildUrl(1, pageSizeOption)}}">{{pageSizeOption}}</a>
        </div>
      </div>
    </div>
  </div>
</div>