middleware:
  auth:
    password:
      duration: 180
      min-length: 8
      max-length: 64
    token:
      server-integer: 1
      server-secret: wKFkxTX54UzKx6xCYnC8WlEI2wtOy0PR
      pseudo-random-number-bytes: 64
    registration-token-duration: 14
  mail:
    from: noreply@library.tamu.edu
    replyTo: helpdesk@library.tamu.edu
  http:
    timeout: 60000
    time-to-live: 60000
    request-timeout: 30000
    socket-timeout: 60000
  harvest:
    fixedDelay: 86400000
    initialDelay: 2500

ui:
  url: http://localhost:4200

vivo:
  email: vivoadmin@library.tamu.edu
  password:
  base-url: http://localhost:8080/vivo
  linked-open-data-endpoint: /individual
  list-rdf-endpoint: /listrdf
  sparql-query-endpoint: /api/sparqlQuery
  triplestore:
    type: SDB
    datasourceUrl: jdbc:mysql://localhost/vivo
    username:
    password:

logging:
  file: scholars.log
  level:
    edu:
      tamu:
        scholars:
          middleware: INFO
    org:
      springframework:
        security: INFO
        web: INFO
  path:

server:
  port: 9000

spring:
  data:
    rest:
      # CAUTION: leaving this on will permit all requests from localhost, breaks various UI requests and SSR
      authorize-hal-browser: false
      return-body-on-create: true
      return-body-on-update: true
    solr:
      host: http://localhost:8983/solr
  main:
    allow-bean-definition-overriding: false
  messages:
    basename: i18n/messages
    cache-duration: 15
    encoding: UTF-8
  devtools:
    add-properties: false
    restart:
      enabled: false
      exclude: src/main/resources,target
  h2:
    console:
      enabled: true
      path: /h2console
  datasource:
    driverClassName: org.h2.Driver
    platform: h2
    url: jdbc:h2:mem:AZ;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    # url: jdbc:h2:./h2;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: scholars
    password: scholars
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    hibernate.ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
        hbm2ddl:
          import_files: import/import-themes.sql
    show-sql: false
  mail:
    host: relay.tamu.edu
    #host: smtp.gmail.com
    #username: scholarsdiscovery@gmail.com
    #password:
    #properties:
    #  mail:
    #    transport:
    #      protocol: smtp
    #    smtp:
    #      port: 587
    #      auth: true
    #      starttls:
    #        enable: true
    #        required: true
  profiles:
    active: default
    include: organization,person,document,concept
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
