<div class="copyright">
  <ul class="list-inline text-center">
    <li class="list-inline-item"><span>© Texas A&M University Libraries</span></li>
    <li class="list-inline-item"><span>|</span></li>
    <li class="list-inline-item"><a href="#">Terms Of Use</a></li>
    <li class="list-inline-item"><span>|</span></li>
    <li class="list-inline-item"><a href="#">Powered by VIVO</a></li>
  </ul>
  <ul class="list-inline text-center">
    <li class="list-inline-item"><span>Data update last {{updated | date: 'medium' }}</span></li>
  </ul>
</div>