<scholars-pagination collection="themes" [page]="page" (pageChange)="onPageChange($event)">
  <h3 class="text-primary">{{ 'ADMIN.THEMES.TITLE' | translate }}</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">{{ 'ADMIN.THEMES.NAME' | translate }}</th>
        <th scope="col">{{ 'ADMIN.THEMES.ACTIVE' | translate }}</th>
        <th scope="col">{{ 'ADMIN.THEMES.ORGANIZATION' | translate }}</th>
      </tr>
    </thead>
    <tbody *ngIf="themes | async; let themes">
      <tr *ngFor="let theme of themes">
        <td scope="row">{{theme.name}}</td>
        <td scope="row">{{theme.active}}</td>
        <td scope="row">{{theme.organization}}</td>
      </tr>
    </tbody>
  </table>
</scholars-pagination>